<div class="wrapper">
    <app-autcomplete [data]="{
        placeholder: constantes.placeholders.direccionDuena,
        data: data,
        icon: '',
        argument: 'name'
    }"></app-autcomplete>
    <div class="buttons">
        <button mat-mini-fab color="accent">
            <mat-icon>
                close
            </mat-icon>
        </button>
        <button mat-mini-fab color="warn">
            <mat-icon>
                check
            </mat-icon>
        </button>
    </div>
</div>
