<div class="table-wrapper">
  <mat-form-field class="filter" *ngIf="dataSource.length">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span [ngSwitch]="column">
          <span *ngSwitchCase="'#'">{{i + 1}}</span>
          <span *ngSwitchCase="'Ver'">
            <button mat-icon-button color="primary" (click)="getData(element)">
              <mat-icon>
                search
              </mat-icon>
            </button>
          </span>
          <span *ngSwitchCase="'Investigadores'">
            <p *ngFor="let investigador of element[column]">{{investigador.name}}</p>
          </span>
          <span *ngSwitchDefault>{{element[column]}}</span>
        </span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>