<div class="title-wrapper">
    <app-page-title [title]="'Usuarios'"></app-page-title>
    <button mat-raised-button [color]="new ? 'warn' : 'primary'" (click)="closeTheForm()">
        <mat-icon>{{ new ? 'close' : 'add' }}</mat-icon>{{ new ? 'Cancelar' : 'Nuevo usuario' }}
    </button>
</div>
<ng-container *ngIf="new; then form; else table"></ng-container>
<ng-template #table>
    <div>
        
    </div>
    <app-table [data]="tableData"></app-table>
</ng-template>
<ng-template #form>
    <app-nuevo-usuario (closeForm)="new = false" (createdUser)="addTableData($event)"></app-nuevo-usuario>
</ng-template>