.title-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  & button {
      height: 50px;
      align-self: center;
      margin-right: 1rem;
  }
}
.main-text {
  padding: 1rem;
  text-align: justify;
  max-width: 600px;
}
.stepper-buttons {
  justify-content: space-between;
  &, &__first {
      display: flex;
      align-items: center;
      padding: 1rem;
  }
  &__first {
      justify-content: flex-end;
  }
}