@import '../../../assets/css/variables';

.toolbar {
    z-index: 100;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-gap: 1rem;
    position: relative;
    padding-right: 0 !important;
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background: $primario;
    }
    & span {
        &:last-child {
            height: 100%;
            display: flex;
            padding: 0 1rem;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 1px;
                background: radial-gradient($gris-claro 1%, transparent 70%);
            }
        }
    }
}