.info {
    padding: 2rem;
    display: grid;
    grid-gap: 2rem;
}

.mision, .vision {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
}
.mision {
    grid-template-columns: min-content 1fr;
}
.vision {
    grid-template-columns: 1fr min-content;
}
