<app-carousel></app-carousel>
<div class="info">
    <div class="mision">
        <div>
            <img src="../../../assets/images/Mision.jpg" alt="">
        </div>
        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus suscipit explicabo, quaerat dolorem quo rerum fuga quod nemo quasi incidunt cum vel exercitationem aut? Doloribus blanditiis magni dignissimos ipsum fugit?
        </div>
    </div>
    <div class="vision">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam deleniti magni inventore expedita odio quaerat. Sit consectetur temporibus quia corrupti quod magni! Cum, numquam neque. Labore dignissimos suscipit modi odit.
        </div>
        <div>
            <img src="../../../assets/images/Vision.jpg" alt="">
        </div>
    </div>
</div>