<div class="title-wrapper">
  <app-page-title
    [title]="constantes.titles.emblematico"
  ></app-page-title>
  <button
    mat-raised-button
    [color]="new ? 'warn' : 'primary'"
    (click)="new = !new"
  >
    <mat-icon>{{ new ? 'close' : 'add' }}</mat-icon
    >{{ new ? 'Cancelar' : 'Nuevo caso investigación' }}
  </button>
</div>
<ng-container *ngIf="new; then form; else table"></ng-container>
<ng-template #table>
  <app-table [data]="tableData"></app-table> 
</ng-template>
<ng-template #form>
    <app-nuevo-caso-emblematico></app-nuevo-caso-emblematico>
</ng-template>