form {
    display: grid;
    align-items: center;
    grid-template-rows: auto auto;
    grid-template-areas:    'first second'
                            'third third';
    & .first {
        grid-area: first;
        margin: 0;
        padding: 0;
    }
    & .second {
        grid-area: second;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }
    & .third {
        grid-area: third;
    }
}