<div class="menu-item__wrapper" *ngIf="submenu === undefined">
    <mat-icon color="primary" class="menu-item__icon">
  {{ icon }}
  </mat-icon>
  <span class="menu-item__text">
    {{ title }}
  </span>
</div>

<div class="menu-item__wrapper" [matMenuTriggerFor]="menu" *ngIf="submenu !== undefined">
    <mat-icon color="primary" class="menu-item__icon">
  {{ icon }}
  </mat-icon>
  <span class="menu-item__text">
    {{ title }}
  </span>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let item of submenu" [routerLink]="item.link">{{item.title}}</button>
</mat-menu>