<div class="menu-item__wrapper" *ngIf="submenu === undefined">
    <mat-icon color="primary" class="menu-item__icon">
  {{ icon }}
  </mat-icon>
  <span class="menu-item__text">
    {{ title }}
  </span>
</div>

<mat-accordion *ngIf="submenu !== undefined" hideToggle>
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header class="panel-header">
      <mat-panel-title>
        <div class="menu-item__wrapper">
          <mat-icon color="primary" class="menu-item__icon">
            {{ icon }}
          </mat-icon>
          <span class="menu-item__text">
            {{ title }}
          </span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="panel-submenu">
      <li *ngFor="let item of submenu" [routerLink]="item.link">{{item.title}}</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>