@import '../../../assets/css/variables';

.menu {
    &-item {
        &__wrapper {
            cursor: pointer;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 10px;
            justify-items: center;
            align-items: center;
        }
    }
}

.panel {
    & * {
        outline: none !important;
    }
    box-shadow: none;
    border: none;
    &-header {
        padding: 0;
        margin: 0;
        &:hover {
            background: transparent !important;
        }
    }
    &-submenu {
        padding: 0;
        margin: 0;
        color: $gris-claro;
        & li {
            list-style: none;
            padding: 10px 0;
            transition: all .2s ease-in-out;
            &:hover {
                font-weight: bold;
                color: $negro;
            }
        }
    }
}

.active {
    background: $primario;
}