<div class="title-wrapper">
  <app-page-title
    [title]="constantes.titles.instInvestigation"
  ></app-page-title>
  <button
    mat-raised-button
    [color]="new ? 'warn' : 'primary'"
    (click)="new = !new"
  >
    <mat-icon>{{ new ? 'close' : 'add' }}</mat-icon
    >{{ new ? 'Cancelar' : 'Nueva investigación' }}
  </button>
</div>
<ng-container *ngIf="new; then form; else table"></ng-container>
<ng-template #table>
  <div>
    <p class="main-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
      asperiores saepe quo culpa, veniam facilis at quae omnis laudantium
      debitis aperiam, pariatur aliquam odio tenetur ad officia magni quisquam
      quod.
    </p>
  </div>
  <app-table [data]="fakeTableData"></app-table>
</ng-template>
<ng-template #form>
  <mat-horizontal-stepper #stepper linear>
    <!-- <mat-step [completed]="griftStepper.stepOne"> -->
    <mat-step [completed]="true">
      <app-primer-formulario></app-primer-formulario>
      <div class="stepper-buttons__first">
        <button mat-mini-fab color="primary" matStepperNext>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="true">
      <app-investigadores></app-investigadores>
      <div class="stepper-buttons">
        <button mat-mini-fab color="primary" matStepperPrevious>
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matStepperNext>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="true">
      <app-producto-inves-form></app-producto-inves-form>
      <div class="stepper-buttons">
        <button mat-mini-fab color="primary" matStepperPrevious>
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matStepperNext>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step [completed]="true">
      Step 4
    </mat-step>
  </mat-horizontal-stepper>
</ng-template>
