<form [formGroup]="newUser">
    <h3>Nuevo Usuario</h3>
    <div class="group">
        <div class="doc-group">
            <!-- Tipo documento -->
            <app-select [placeholder]="'Tipo Doc.'" [data]="tipoDoc" [argument]="'DESCRIPCION'"
                (formReady)="formInitialized('Tipo_Doc', $event)">
            </app-select>

            <!-- Número documento -->
            <app-simple-input [data]="{
                    placeholder: 'Número de documento',
                    data: null,
                    icon: null
                }" [type]="newUser.controls.Tipo_Doc.value !== 'Pasaporte' ? 'number' : 'text'"
                (formReady)="formInitialized('Documento', $event)">
            </app-simple-input>
        </div>
        <!-- Nombres -->
        <app-simple-input [data]="{
                placeholder: 'Nombres',
                data: null,
                icon: null
            }" (formReady)="formInitialized('Nombres', $event)">
        </app-simple-input>

        <!-- Apellidos -->
        <app-simple-input [data]="{
                placeholder: 'Apellidos',
                data: null,
                icon: null
            }" (formReady)="formInitialized('Apellido', $event)">
        </app-simple-input>
    </div>

    <div class="group">
        <!-- Teléfono -->
        <app-simple-input [data]="{
                placeholder: 'Teléono',
                data: null,
                icon: 'local_phone'
            }" (formReady)="formInitialized('Tlf', $event)">
        </app-simple-input>

        <!-- Email -->
        <app-simple-input [data]="{
                placeholder: 'Email',
                data: null,
                icon: 'local_post_office'
            }" (formReady)="formInitialized('Email', $event)" [type]="'email'">
        </app-simple-input>
    </div>

    <div class="group">
        <!-- Grado -->
        <app-select [placeholder]="'Grado'" [data]="grado" [argument]="'DESCRIPCION'" (formReady)="formInitialized('Grado', $event)">
        </app-select>

        <!-- Unidad -->
        <app-select [placeholder]="'Unidad'" [data]="unidades" [argument]="'DESCRIPCION'" (formReady)="formInitialized('Unidad', $event)">
        </app-select>
    </div>

    <div class="group">
        <!-- Usuario PSI -->
        <app-simple-input [data]="{
                placeholder: 'Usuario (PSI)',
                data: null,
                icon: 'account_box'
            }" (formReady)="formInitialized('PSI', $event)">
        </app-simple-input>

        <!-- Perfil -->
        <app-select [placeholder]="'Perfil'" [data]="perfil" (formReady)="formInitialized('Perfil', $event)">
        </app-select>

        <!-- Contraseña -->
        <app-simple-input [data]="{
                placeholder: 'Contraseña',
                data: null,
                icon: 'vpn_key'
            }" [type]="'password'" (formReady)="formInitialized('passwdControl', $event)">
        </app-simple-input>

        <!-- Confirmar Contraseña -->
        <div>
            <app-simple-input [data]="{
                placeholder: 'Confirme contraseña',
                data: null,
                icon: 'vpn_key'
            }" [type]="'password'" (formReady)="formInitialized('passwd2Control', $event, true)">
            </app-simple-input>
            <mat-error *ngIf="passwd.errors && passwd.errors.confirmPasswd">Las contraseñas no coinciden</mat-error>
        </div>
    </div>

    <div class="buttons">
        <button mat-flat-button (click)="closeTheForm()">Cancelar</button>
        <button (click)="sendData()" mat-raised-button color="primary" [disabled]="newUser.invalid || passwd.invalid">Guardar</button>
    </div>
</form>